/* this is css file*/
.main {
    background-color: #2e4053;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}
h1 {
    color: yellow;
    font-size: 80px;
}
p {
    color:white;
    font-size: 30px;
}
