{% extends 'base.html' %}

{% block title %}<title>Create Course</title>{% endblock title %}

{% block content %}
    <br>
    <div class="container" style="align-items: center;">
    
        <div class="row">
            <div class="col-lg-5">
                <form action="{{url_for('create')}}" method="POST">

                    <!-- Header Text -->
                    <div>
                        <h5 style="text-align: center;">Create your course here</h5>
                    </div>

                    <!-- Course Name -->
                    <div class="form-group">
                        <label>Course Name</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter your course here">
                    </div>

                    <!-- Instructor Name -->
                    <div class="form-group">
                        <label>Instructor Name</label>
                        <input type="text" class="form-control" name="instructor">
                    </div>

                    <!-- Course Price -->
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" name="price">
                    </div>

                    <!-- Course Duration -->
                    <div class="form-group">
                        <label>Duration</label>
                        <input type="number" class="form-control" name="duration">
                    </div>

                    <!-- Course Description -->
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" name="description"></textarea>
                    </div>

                    <!-- Button for submitting form -->
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Create Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
